# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#!pip install citipy

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import scipy.stats as st
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

#CSV file path
output_data_file = "Output/cities.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
cities_df = pd.read_csv(output_data_file)
cities_df

,City,Latitude,Longitude,Max Temp (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,Okulovka,58.4008,33.2908,48.47,52,34,7.72,RU,1618677928
1,Rikitea,-23.1203,-134.9692,76.86,69,95,8.93,PF,1618677806
2,Nikolskoye,59.7035,30.7861,53.60,26,0,13.42,RU,1618677928
3,Aykhal,66.0000,111.5000,8.49,93,100,20.87,RU,1618677929
4,East London,-33.0153,27.9116,66.20,72,0,11.50,ZA,1618677757
...,...,...,...,...,...,...,...,...,...
539,Korhogo,9.4500,-5.6333,83.52,49,100,3.58,CI,1618678086
540,Abu Kamal,34.4506,40.9171,85.10,15,4,5.79,SY,1618678086
541,Nīlēshwar,12.2500,75.1000,83.43,80,32,7.58,IN,1618678086
542,Alto Araguaia,-17.3147,-53.2153,85.17,46,1,4.92,BR,1618678087
543,Saint-Pierre,-21.3393,55.4781,77.00,78,90,9.22,RE,1618678087

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Access maps with unique API key
gmaps.configure(api_key = g_key)

In [7]:
# Create base-form map as foundations
fig = gmaps.figure()

# Extract locations of each city from DataFrame
locations = cities_df[["Latitude", "Longitude"]]
#locations

# Extract humidity for each city
humidity = cities_df["Humidity"].astype(float)
#humidity

# Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)

fig
#fig.save("Images/humidity-heat-map.png")

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = 
"""
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

SyntaxError: invalid syntax (<ipython-input-6-d75abb78032b>, line 4)

In [ ]:
# Add marker layer ontop of heat map


# Display figure